body {
  background: #F1EEEA;
  color: #333333;
  margin-top: 5rem;
}


.login-holder {
    max-width: 350px;
    box-shadow: 0 0 12px #9E9E9E;
    overflow-y: auto;
    margin: 0 auto;
    border-radius: 8px;
}

.loginbox {
  width: 100%;
  padding: 1.2rem 1.2rem;
  overflow-x: hidden;
  background: #fcfcfc;
  background-size: 100% 100%;
  border-radius: 8px;
}

.chart-holder {
  max-width: 350px;
  padding: 1.2rem 1.2rem;
  box-shadow: 0 0 12px #9E9E9E;
  overflow-y: auto;
  margin: 0 auto;
  border-radius: 8px;
  background: #fcfcfc;
}

.error {
  color: red;
  font-size: 10pt;
  vertical-align: bottom;
  margin: 0;
}

.site-header .navbar .nav-link {
  color: #cbd5db;
}

.site-header .navbar .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}


