{% extends "base.html" %} {% block content %}
<div>
    <p>
        Your current average is {{ data.avg }}%.
    </p>
    <p>
        Your dropped grade is a {{ data.min_grade }}%.
    </p>

    <table class="table table-sm">
        <thead>
            <tr>
                <th scope="col">Desired Grade</th>
                <th scope="col">Grade on Final</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">94%</th>
                <td>{{ data.for_a }}</td>
            </tr>
            <tr>
                <th scope="row">90%</th>
                <td>{{ data.for_a_minus }}</td>
            </tr>
            <tr>
                <th scope="row">80%</th>
                <td>{{ data.for_b }}</td>
            </tr>
            <tr>
                <th scope="row">70%</th>
                <td>{{ data.for_c }}</td>
            </tr>
            <tr>
                <th scope="row">60%</th>
                <td>{{ data.for_d }}</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock content %}