{% extends "base.html" %} {% block content %}

<body>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %} 
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %} 
        {% endif %} 
    {% endwith %}

    <div class="container">
        <form action="" method="post" name="compute">
            {{ form.hidden_tag() }}
            <div class="form-group row">
                <div class="col-sm-4 right right">{{ form.t1.label }}</div>
                <div class="col-sm-2">{{ form.t1(autocomplete='off') }}</div>
                {% for error in form.t1.errors %}
                <p class="col-sm-3 error">{{ error }}</p>
                {% endfor %}
            </div>

            <div class="form-group row">
                <div class="col-sm-4">{{ form.t2.label }}</div>
                <div class="col-sm-2">{{ form.t2(autocomplete='off') }}</div>
                {% for error in form.t2.errors %}
                <span class="col-sm-3 error">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="form-group row">
                <div class="col-sm-4">{{ form.t3.label }}</div>
                <div class="col-sm-2">{{ form.t3(autocomplete='off') }}</div>
                {% for error in form.t3.errors %}
                <span class="col-sm-3 error">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="form-group row">
                <div class="col-sm-4">{{ form.t4.label }}</div>
                <div class="col-sm-2">{{ form.t4(autocomplete='off') }}</div>
                {% for error in form.t4.errors %}
                <span class="col-sm-3 error">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="form-group row">
                <div class="col-sm-4">{{ form.t5.label }}</div>
                <div class="col-sm-2">{{ form.t5(autocomplete='off') }}</div>
                {% for error in form.t5.errors %}
                <span class="col-sm-3 error">{{ error }}</span>
                {% endfor %}
            </div>
           <div class="form-group row">
                <div class="col-sm-4">{{ form.hw.label }}</div>
                <div class="col-sm-2">{{ form.hw(autocomplete='off') }}</div>
                {% for error in form.hw.errors %}
                <span class="col-sm-3 error">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="form-group row">
                {{ form.submit() }}
            </div>

        </form>
    </div>

    {% endblock content %}